*{
    padding: 0;
    margin: 0;
}
div{
    text-align: center;
    display: flex;
    align-items: center;
   
    width: 100%;
}
.leftside{
background-color: red;
height: 500px;
width: 100%;
float: left;
}
.rightside{
    background-color: yellow;
    height: 500px;
    width: 100%;
    float: left;
}
.section3{
background-color: rgb(19, 85, 19);
height: 500px;
width: 33.33%;
float: left;
}
.gutter{
    width: 100%;
}