*{
    padding: 0;
    margin: 0;
}
div{
    text-align: center;
    display: flex;
    align-items: center;
   
    width: 100%;
}
.split{
    display: flex;
    flex-direction: row;
}
.leftside{
background-color: red;
height: 500px;
width: 100%;

}
.rightside{
    background-color: yellow;
    height: 500px;
    width: 100%;
    
}

.gutter{
   
   grid-column-start: span;
   
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    cursor: col-resize;
}